---
name: Build and Push Docker Image
on:
  workflow_dispatch:
    inputs:
      tag:
        description: Docker image tag (e.g. latest, v1.0)
        required: false
        default: latest
      publish:
        description: Publish to registry?
        type: boolean
        default: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        if: ${{ github.event.inputs.publish != false }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event.inputs.publish != false }}
          tags: >
            lindaejohnson/gemini-openrouter-proxy:${{
            github.event.inputs.tag }}
          labels:
            org.opencontainers.image.source: ${{ github.repository }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
